In [1]:
#This machine_learning_model will predict the chance to get loan

In [2]:
#import the library
import pandas as pd
df=pd.read_csv("Loan_dataset.csv")

In [3]:
#print the first five data
df.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y

In [4]:
#describe is used tocalculate count,mean,max,min valuesof series or dataframe
df.describe()

,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History
count,500.000000,500.000000,482.000000,486.000000,459.000000
mean,5493.644000,1506.307840,144.020747,342.543210,0.843137
std,6515.668972,2134.432188,82.344919,63.834977,0.364068
min,150.000000,0.000000,17.000000,12.000000,0.000000
25%,2874.500000,0.000000,100.000000,360.000000,1.000000
50%,3854.000000,1125.500000,126.500000,360.000000,1.000000
75%,5764.000000,2253.250000,161.500000,360.000000,1.000000
max,81000.000000,20000.000000,700.000000,480.000000,1.000000

In [5]:
# Data preprocessing
X=df.drop(['Loan_Status','Loan_ID'], axis=1)
y=df['Loan_Status']
X.isnull().sum()
X['Credit_History'].value_counts()
X['Gender'].value_counts()

Male      400
Female     91
Name: Gender, dtype: int64

In [6]:
#Handling Null Values – Categorical Features
X['Gender'].fillna("Male", inplace=True)
X.isnull().sum()
X['Married'].value_counts()
X['Married'].fillna("Yes", inplace=True)
X.isnull().sum()
X['Dependents'].value_counts()
X['Dependents'].fillna(0,inplace=True)
X['Self_Employed'].value_counts()
X['Self_Employed'].fillna('No',inplace=True)

In [7]:
#Handling Null Values – Numerical Features
mean_loan=X['LoanAmount'].mean()
X['LoanAmount'].fillna(mean_loan,inplace=True)
X.isnull().sum()
X['Loan_Amount_Term'].fillna(X['Loan_Amount_Term'].mean(
),inplace=True)
X['Credit_History'].fillna(X['Credit_History'].mean(),inplace=True)
X.isnull().sum()

Gender               0
Married              0
Dependents           0
Education            0
Self_Employed        0
ApplicantIncome      0
CoapplicantIncome    0
LoanAmount           0
Loan_Amount_Term     0
Credit_History       0
Property_Area        0
dtype: int64

In [8]:
#get_dummies is used to create dummy variable
X=pd.get_dummies(X)

In [9]:
#Splitting of data
#training data is used to train the model
#testing data is used to evaluate the model
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size =
0.30)
X_train.shape
X_test.shape
y_test.shape

(150,)

In [10]:
#Applying machine learning algorithm
from sklearn.linear_model import LogisticRegression
lr = LogisticRegression()
lr.fit(X,y)
lr.score(X,y)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

0.808

In [11]:
#suppoer vector classifier is used to fit the data
from sklearn.svm import SVC
svc = SVC()
svc.fit(X, y)
svc.score(X,y)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\svm\base.py:193: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)

1.0

In [12]:
#decision tree classifier
from sklearn.tree import DecisionTreeClassifier
dtf = DecisionTreeClassifier()
dtf.fit(X_train, y_train)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
                       max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort=False,
                       random_state=None, splitter='best')

In [13]:
#anither machine lerning algorithm
from sklearn.naive_bayes import GaussianNB
n_b = GaussianNB()
n_b.fit(X_train, y_train)

GaussianNB(priors=None, var_smoothing=1e-09)

In [14]:
#another machine learning algorithm
from sklearn.neighbors import KNeighborsClassifier
knn = KNeighborsClassifier()
knn.fit(X_train, y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=5, p=2,
                     weights='uniform')

In [15]:
#applying various algorithm
print(lr.score(X_test, y_test))
print(dtf.score(X_test, y_test))
print(n_b.score(X_test, y_test))
print(knn.score(X_test, y_test))
print(svc.score(X_test, y_test))

0.8466666666666667
0.74
0.7733333333333333
0.6666666666666666
1.0

In [17]:
#deployment of model
gender=input("What is your gender:")
married=input("Married:")
dependents=int(input("dependents value:"))
Education=input("enter your education")
SelfEmployed=input("Self Employed:")
Applicantincome=int(input("enter applicant income"))
coapplicantincome=int(input("enter co applicant income:"))
loanamount=int(input("enter loan amount:"))
loanamountterm=int(input("enter loan amount term:"))
credithistory=int(input("enter credit history:"))
propertyarea=input("enter property area:")
data =[[gender,married,dependents,Education,SelfEmployed,Applicantincome,
        coapplicantincome,loanamount,loanamountterm,credithistory,propertyarea]]

What is your gender:Male
Married:yes
dependents value:2
enter your educationGraduation
Self Employed:Yes
enter applicant income2340
enter co applicant income:0
enter loan amount:120
enter loan amount term:360
enter credit history:1
enter property area:Urban

In [24]:
#best model deployment
newdf = pd.DataFrame(data, columns =
['Gender','Married','Dependents','Education','Self_Employed','ApplicantIncome','CoapplicantIncome','LoanAmount',
 'Loan_Amount_Term','Credit_History','Property_Area'])
newdf = pd.get_dummies(newdf)
missing_cols = set( X_train.columns ) - set( newdf.columns )
# Add a missing column in test set with default value equal to
0
for c in missing_cols:
    newdf[c] = 0
# Ensure the order of column in the test set is in the same order than in train set
newdf = newdf[X_train.columns]

In [28]:
#Best model deployment
yp=n_b.predict(newdf)
print(yp)
if (yp[0]=='Y'):
    print("Your Loan is approved, Please contact at HDFC Bank Any Branch for further processing")
else:
    print("Sorry ! Your Loan is not approved")

['Y']
Your Loan is approved, Please contact at HDFC Bank Any Branch for further processing

In [29]:
#All Model Deployment – Ensemble Learning
yp1=n_b.predict(newdf)
yp2=lr.predict(newdf)
yp3=dtf.predict(newdf)
yp4=knn.predict(newdf)
yp5=svc.predict(newdf)
print(yp1)
print(yp2)
print(yp3)
print(yp4)
print(yp5)

['Y']
['Y']
['N']
['N']
['Y']